.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Flex:opsz,wght@8..144,100&display=swap");
/* 
  font-family: 'Pacifico', cursive;
  font-family: 'Roboto Flex', sans-serif; 
*/

.roboto {
  font-family: "Roboto Flex";
}
.pacifico {
  font-family: "Pacifico";
}
.bg-green , .top2{background-color: #07ad81;}
.bg-red , .top4{ background-color: #EF476F;}
.bg-blue ,  .top3{ background-color: #26547C;}
.bg-yellow , .top1{ background-color: #daab3f;}
.bg-gray  , .top5{ background-color: #4E4E4E;}



.bg-green-light , .top-light2{ background-color: #ACFFE9;}
.bg-red-light , .top-light4{ background-color: #FFCBCB;}
.bg-blue-light , .top-light3{ background-color: #9CD1FF;}
.bg-yellow-light , .top-light1{ background-color: #FFECC0;}
.bg-gray-light, .top-light5{ background-color: #E4E4E4;}

.hc-red{ color: #EF476F;}
.hc-blue{ color: #26547C;}
.hc-yellow{ color: #daab3f;}
.hc-green{ color: #07ad81;}
.hc-gray{ color: #4E4E4E;}

.btn{
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Roboto Flex";
}
.btn:hover{
  background-color: white;
  color: #272727;
}

.w350{
  width: 350px;
}
.w360{
  width: 360px;
}
.w175 {
  width: 175px;
}
.h240{
  height: 240px;
}
.w60 {
  width: 60px;
}
.h60{
  height: 60px;
}
.mfix{
  margin-top: 10px;
  font-size: 25px;
}
.footer-fix{
  margin-top: 40px;
}