.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Flex:opsz,wght@8..144,100&display=swap");
/* 
  font-family: 'Pacifico', cursive;
  font-family: 'Roboto Flex', sans-serif; 
*/

.roboto {
  font-family: "Roboto Flex";
}
.pacifico {
  font-family: "Pacifico";
}
.bg-green , .top2{background-color: #07ad81;}
.bg-red , .top4{ background-color: #EF476F;}
.bg-blue ,  .top3{ background-color: #26547C;}
.bg-yellow , .top1{ background-color: #daab3f;}
.bg-gray  , .top5{ background-color: #4E4E4E;}



.bg-green-light , .top-light2{ background-color: #ACFFE9;}
.bg-red-light , .top-light4{ background-color: #FFCBCB;}
.bg-blue-light , .top-light3{ background-color: #9CD1FF;}
.bg-yellow-light , .top-light1{ background-color: #FFECC0;}
.bg-gray-light, .top-light5{ background-color: #E4E4E4;}

.hc-red{ color: #EF476F;}
.hc-blue{ color: #26547C;}
.hc-yellow{ color: #daab3f;}
.hc-green{ color: #07ad81;}
.hc-gray{ color: #4E4E4E;}

.btn{
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Roboto Flex";
}

.btn-white:hover{
  background-color: white;
  color: black;
}

.btn-green:hover{
  background-color: #057255;;
  color: #ACFFE9;;
}

.btn-red:hover{
    background-color: #802238;
    color: #FFCBCB;;
}

.btn-yellow:hover{
    background-color: #836622;;
    color: #FFECC0;;;
}

.w-about { width: 360px; }
.w-top-rcp { width: 360px; }

.w-last-pic { width: 360px; }
.w-last-pic-img { width: 176px; }

.w-last-rcp { width: 360px; }
.w-last-rcp-info { width: 180px; }
.w-last-rcp-img { width: 180px; height: 176px;}

.w-img {width: 176px;}

.w60 { width: 60px; }

.w200 { width: 200px; }
.h240{ height: 240px; }
.h60{ height: 60px;}

.mfix{
  margin-top: 10px;
  font-size: 25px;
}
.footer-fix{
  margin-top: 40px;
}
.top-fix{
  margin-top: 44px;
}

.toggle {
  display: none;
}